<p id="notice"><%= notice %></p>

<p>
  <b>Venueid:</b>
  <%= @meeting_room.venueId %>
</p>

<p>
  <b>Roomname:</b>
  <%= @meeting_room.roomName %>
</p>

<p>
  <b>Floor:</b>
  <%= @meeting_room.floor %>
</p>

<p>
  <b>Suite:</b>
  <%= @meeting_room.suite %>
</p>

<p>
  <b>Lifttofloor:</b>
  <%= @meeting_room.liftToFloor %>
</p>

<p>
  <b>Theatre:</b>
  <%= @meeting_room.theatre %>
</p>

<p>
  <b>Classroom:</b>
  <%= @meeting_room.classRoom %>
</p>

<p>
  <b>Boardroom:</b>
  <%= @meeting_room.boardRoom %>
</p>

<p>
  <b>Ushape:</b>
  <%= @meeting_room.uShape %>
</p>

<p>
  <b>Cabaret:</b>
  <%= @meeting_room.cabaret %>
</p>

<p>
  <b>Lunchdinner:</b>
  <%= @meeting_room.lunchDinner %>
</p>

<p>
  <b>Dinnerdance:</b>
  <%= @meeting_room.dinnerDance %>
</p>

<p>
  <b>Reception:</b>
  <%= @meeting_room.reception %>
</p>

<p>
  <b>Length:</b>
  <%= @meeting_room.length %>
</p>

<p>
  <b>Width:</b>
  <%= @meeting_room.width %>
</p>

<p>
  <b>Area:</b>
  <%= @meeting_room.area %>
</p>

<p>
  <b>Heightmax:</b>
  <%= @meeting_room.heightMax %>
</p>

<p>
  <b>Heightmin:</b>
  <%= @meeting_room.heightMin %>
</p>

<p>
  <b>Doorheight:</b>
  <%= @meeting_room.doorHeight %>
</p>

<p>
  <b>Tungsten:</b>
  <%= @meeting_room.tungsten %>
</p>

<p>
  <b>Fluorescent:</b>
  <%= @meeting_room.fluorescent %>
</p>

<p>
  <b>Halogen:</b>
  <%= @meeting_room.halogen %>
</p>

<p>
  <b>Dimmers:</b>
  <%= @meeting_room.dimmers %>
</p>

<p>
  <b>Controlsinroom:</b>
  <%= @meeting_room.controlsInRoom %>
</p>

<p>
  <b>Blackout:</b>
  <%= @meeting_room.blackout %>
</p>

<p>
  <b>Windows:</b>
  <%= @meeting_room.windows %>
</p>

<p>
  <b>Soundsystemfitted:</b>
  <%= @meeting_room.soundSystemFitted %>
</p>

<p>
  <b>Airconditioning:</b>
  <%= @meeting_room.airConditioning %>
</p>

<p>
  <b>Phase:</b>
  <%= @meeting_room.phase %>
</p>

<p>
  <b>Sockets:</b>
  <%= @meeting_room.sockets %>
</p>

<p>
  <b>Telephonepoints:</b>
  <%= @meeting_room.telephonePoints %>
</p>


<%= link_to 'Edit', edit_meeting_room_path(@meeting_room) %> |
<%= link_to 'Back', meeting_rooms_path %>
